<section class="new_footer_area bg_color">
  <div class="new_footer_top">
    <div class="container">
      <div class="row"></div>
    </div>
    <div class="footer_bg">
      <div class="footer_bg_one"></div>
      <div class="footer_bg_two"></div>
    </div>
  </div>
  <div class="footer_bottom">
    <a href="https://inova.pr.gov.br/"
      ><img src="/images/logoSEIMT.png" alt="logo da SEIMT"
    /></a>
  </div>
</section>
