<a href="/" id="logo">Início</a>
<nav id="main-nav">
  <ul>
    <li><a href="/tabela">Tabela</a></li>
    <li><a href="/setores">Setores</a></li>
    <li><a href="/motoristas">Motoristas</a></li>
    <li><a href="/placas">Placas</a></li>
    <li><a href="/geolocal">Geolocal</a></li>
  </ul>
</nav>
<a href="#side-drawer" class="menu-btn">
  <span></span>
  <span></span>
  <span></span>
</a>

<aside id="side-drawer">
  <header>
    <a href="#" class="menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/tabela">Tabela</a></li>
      <li><a href="/setores">Setores</a></li>
      <li><a href="/motoristas">Motoristas</a></li>
      <li><a href="/placas">Placas</a></li>
      <li><a href="/geolocal">Geolocal</a></li>
    </ul>
  </nav>
</aside>
