<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('includes/head', {title: "Editar Setor"}) %>
  </head>
  <body>
    <header><%- include('includes/header') %></header>
    <main>
      <h1>Editando <%= dado.driver.firstName %></h1>
      <h2>Em contrução</h2>
    </main>
    <footer><%- include ('includes/footer') %></footer>
  </body>
</html>
